/* ------------------------------------------------
	Style widget newsletter
------------------------------------------------ */
.newsletter-widget {
}

.newsletter-widget select {
}

.newsletter-widget p {
}

.newsletter-widget img {
  max-width:100%;
}

#newsletter-widget-presentation {
}

.newsletter-widget #nl_email {
}
.listnsltr .allnsltr a {font-weight:bold;}

/* ------------------------------------------------
	Style formulaire page publique newsletter
------------------------------------------------ */

.dc-newsletter #comment-form {
}

.dc-newsletter #comment-form select {
}

.dc-newsletter #comment-form p {
}

.dc-newsletter #comment-form img {
}

#newsletter_form-presentation {
}

.dc-newsletter #comment-form #nl_email {
}

/** ------------------------------------------------
	Style commun newsletter
------------------------------------------------ */
#nl_form p label {
	vertical-align: bottom;
}

#newsletter-pub-message {
	color : #000;
}

#nl_captcha {
	display : block;
}

#nl_form input[type=submit]  {
}

#nl_form input[type=submit]:hover {
}

#nl_form p input {
}

#nl_option select {
}

#nl_submit {
}

#nl_submit:hover {
}
